* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #C7C7C7;
}

button,
input {
    cursor: auto;
    box-shadow: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 14px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }
}


body {
    background: rgba(0, 0, 0, 0.78)
}

.container {
    margin-top: 40px;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    flex-direction: column;
}

.header {
    font-size: 2.5em;
}

.test {
    margin-right: 20px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.test:checked {
    background-color: gray;
}

.contact_inputs {
    margin-top: 100px;
}

.input-container {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid #707070;
    position: relative;
    display: flex;
    align-items: center;
    margin: 60px 0px;
}

.msg-container {
    width: 400px;
    height: 200px;
    align-items: flex-start;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 18px;
    padding: 0px 5px;
    resize: none;
}

.input_label {
    position: absolute;
    left: 5px;
    font-size: 18px;
    transition: transform 200ms ease, font-size 200ms ease, color 200ms ease;
    pointer-events: none;
}

.input_underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background: #707070;
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scale(0.1);
    transition: transform 200ms ease;
}

.form_button {
    background: #C7C7C7;
    padding: 5px 30px;
    align-items: center;
    border-radius: 12px;
    font-size: 1.1em;
    color: rgba(60, 60, 60);
    border: 1px solid;
    margin-left: auto;
    text-align: center;
    align-items: center;
    margin-right: auto;
    justify-content: center;
    display: flex;
    width: 47%;
    font-weight: 900;
    margin-top: 50px;
}

.input:focus~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
}

.has-value~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
    color: rgb(241, 241, 241);
}

.input:focus~.input_underline {
    transform-origin: left;
    transform: scale(1);
}

.patientList,
.todolist {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

.patient,
.todo {
    margin: 5px 0;
    border: 1px solid;
    border-radius: 20px;
    padding-left: 10px;
    width: 300px;
    height: 75px;
    background-color: #C7C7C7;
}

.patient span,
.patient a {
    color: black;
}

.patient img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
}

.patient_info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.age,
.gender {
    font-style: italic;
    font-size: 0.8em;
}

.name {
    font-size: 1.5em;
}

.todo_info span {
    color: black;
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.dot_casing {
    float: left;
    align-items: center;
    display: flex;
    height: 60px;
    width: 50px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}


.info {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #C7C7C7;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.back {
    font-size: 2.5em;
}

.taskimg {
    margin-top: 75px;
    width: 250px;
    height: 275px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    position: relative;
}

.tasktodo {
    background-color: #707070;
    width: 100%;
    padding-left: 20px;
    height: 25px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.taskaudio {
    width: 100%;
    margin-top: 50px;
    font-weight: 900;
    font-size: 2.5em;
    padding: 0px 3px;
    display: flex;
    justify-content: space-between;
}

.taskwhere {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 75px;
    right: 0;
    background-color: #707070;
}

.task_dots {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 150px;
}

.dot_task {
    width: 30px;
    height: 30px;
    background: darkgrey;
    border-radius: 50%;
}

.dot_task:first-of-type {
    background: rgba(60, 60, 60);
}
.where {
    position: absolute;
    right: 30px;
    font-size: 1.5em;
    top: 23px;
}